/*
	payment.html
        
    Copyright 2012 Жлобенцев Владимир <dnclive@gmail.com>
	
*/

.payment_main_div
{
	width:100%;
	height:100%;
}

.payment_part_div
{
	#width:100%;
	height:15%;
}

.payment_main_div
{
	width:100%;
	height:100%;
}

.josi_store_div
{
	width:100%;
	height:80%;
}

.payment_main_div
{
	width:100%;
	height:100%;
}

/*** кнопки ***/

.btn_div
{
	margin:10px;
	#height: 35px;
	#width: 100%;
	border-radius: 10px;
	
}

.btn_div_left
{
	margin:10px;
	height: 35px;
	#width: 100%;
	border-radius: 20px 3px 3px 20px;
	#border-bottom-left-radius: 30px 15px;
	#border-bottom-right-radius: 3px;
	#border-top-left-radius: 30px 15px;
	#border-top-right-radius: 3px;
}

.btn_close_div
{
	border-radius: 40px;
	padding: 0px 5px;
	color: white;
	text-align: center;
	height: 35px;
	font-size: 21pt;
}

.green_btn_div
{
	background: #0c0;
	background: rgb(112,204,112); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwY2M3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI4Y2MyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGNjMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(112,204,112,1) 0%, rgba(40,204,40,1) 51%, rgba(0,204,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(112,204,112,1)), color-stop(51%,rgba(40,204,40,1)), color-stop(100%,rgba(0,204,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(112,204,112,1) 0%,rgba(40,204,40,1) 51%,rgba(0,204,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(112,204,112,1) 0%,rgba(40,204,40,1) 51%,rgba(0,204,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(112,204,112,1) 0%,rgba(40,204,40,1) 51%,rgba(0,204,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(112,204,112,1) 0%,rgba(40,204,40,1) 51%,rgba(0,204,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70cc70', endColorstr='#00cc00',GradientType=0 ); /* IE6-8 */

}

.sea_btn_div
{
	background: #0cf;
	background: rgb(122,188,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDk2ZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-8 */
}

.sea_btn_div__
{
	background: #39c;
}

.gray_btn_div
{
	background:#ccc;
}

.brown_btn_div
{
	background: #c93;
}

.red_btn_div
{
	#background: #f99;
	#background: #f66;
	background: #f33;
}

.btn_div:hover
{
	cursor:pointer;
}

.btn_label
{
	padding: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	text-shadow: #333 1px 1px 3px;
}

/*** кнопки переключения между разделами ***/

.payment_part_item_div
{
	margin:10px;
	height: 35px;
	#width: 100%;
	#background: #0c0;
	background:#9f6;
	border-radius: 10px;
}

.payment_part_item_div:hover
{
	cursor:pointer;
}

.payment_part_item_label
{
	padding: 8px;
	color: white;
	font-weight:bold;
	text-align: center;
}

.payment_part_item
{
	background:#f60;
}

.payment_part_item_active
{
	background:#0c0;
	border: #0C0 solid 10px;
}

/*** поля ввода платежа ***/

.payment_input_item_div
{
	#width:150;
	#padding:6px 18px;
	#padding: 3px 11px;
	width:20%;
}

.payment_input_item_val
{
	padding:6px 3px;
}

.payment_list_item_val
{
	padding:6px 6px;
	overflow:hidden;
	#overflow-y:auto;
}

.payment_list_item_val_div
{
	
	width:20%;
}

.col_5
{
	
	width:20%;
}

.col_6
{
	
	width:16%;
}

.payment_input_label
{
	text-align: center;
	color: #665;
}

.aquaon_pl_item:hover
{
	cursor:pointer;
	background:#39c;
	color:#fff;
	border-radius: 3px;
}


